/* 修改全域 scrollbar 寬度、圓角、背景顏色 */
/* 在全域設定 */
*::-webkit-scrollbar {
    width: 10px;
    /* scrollbar 寬度 */
    border-radius: 8px;
    /* 圓角 */
    background-color: transparent;
    /* 背景顏色 */
}

/* 修改全域 scrollbar 輪廓 */
*::-webkit-scrollbar-track {
    border-radius: 8px;
    /* 圓角 */
}

/* 修改全域 scrollbar 滾動條 */
*::-webkit-scrollbar-thumb {
    background-color: #919191;
    /* 滾動條顏色 */
    border-radius: 5px;
    /* 圓角 */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #636363;
    /* 滾動條顏色 */
    border-radius: 5px;
    /* 圓角 */
}

/* 修改全域 scrollbar 上下按鈕 */
*::-webkit-scrollbar-button {
    background-color: transparent;
    /* 上下按鈕背景顏色 */
}

/* ==============loading-animation================ */

/* 初始隱藏動畫元素 */
.loading-animation {
    color: white;
    font-size: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%);
    /* 從下方位移 */
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.loading-animation.show {
    transform: translate(-50%, -50%) translateY(0);
    /* 顯示動畫 */
    opacity: 1;

}


@media (max-width: 809px) {
    .framer-o3eoja {
        display: none;
    }

    .framer-Uo6Ax.framer-5p59wc {
        /* border-radius: 20px; */
        min-height: 400px;

    }

}

/* ====================中文手機板=================== */
#jennyPhone {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
    
    
    
}

@media (max-width: 574px) {
    #jennyPhone {
        display: block;
    }
}
/* 平板 */
@media (min-width: 574px) {
    #jennyPhone {
        display: none;
    }
}
/* 筆電 */
@media (min-width: 1028px) {
    #jennyPhone {
        display: none;
    }
}
/* 桌機 */
@media (min-width: 1440px) {
    #jennyPhone {
        display: none;
    }
}

.card {
    position: relative;
    background-color: #f5f5f5;
    padding: 25px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head figure {
    position: absolute;
    width: 199px;
    height: 199px;
    top: -10%;
}

.head figure img {
    height: 100%;
    width: 100%;
}

.head .textContent {
    height: 364px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

.head .textContent h2 {
    padding: 0px 5px 0px 20px;
    font-size: 28px;
}

.head .textContent p {
    font-size: 18px;
    padding: 0px 5px 0px 20px;
}

.head .btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.head .btnGroup a {
    text-decoration: none;
    color: #000;
}

.head .btnGroup .enCV {
    background-color: #f5f5f5;
    border: #000 solid 1px;
    border-radius: 59px;
    padding: 10px 25px;
    transition: 0.5s;
}

.head .btnGroup .enCV:hover {
    background-color: #0026EB;
    border: #0026EB solid 1px;
}

.head .btnGroup .enCV:hover a {
    color: #f5f5f5;
}

.head .btnGroup .zhCV {
    background-color: #000;
    border: #000 solid 1px;
    border-radius: 59px;
    padding: 10px 25px;
    transition: 0.5s;
}

.head .btnGroup .zhCV a {
    color: #f5f5f5;
}

.head .btnGroup .zhCV:hover {
    background-color: #0026EB;
    border: #0026EB solid 1px;
}

.head .btnGroup .zhCV:hover a {
    color: #f5f5f5;
}

.myworks {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.myworks h2 {
    color: #f5f5f5;
    font-size: 28px;
    padding: 10px;
    padding-bottom: 0;
}

.myworks .work {
    position: relative;
    overflow: hidden;
}

.myworks .card {
    padding: 25px 0px 0px 0px;
    align-items: start;
}

.myworks .card .text {
    padding: 0px 15px;
}

.myworks .card .text h3 {
    font-weight: 800;
}

.myworks .card .moreBtn {
    position: absolute;
    top: 80%;
    left: 5%;
    background-color: #000;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 59px;
    padding: 10px 25px;
    transition: 0.5s;
}

.myworks .card .moreBtn:hover {
    background-color: #0026EB;
    border: 2px solid #0026EB;
}

.myworks .card .collapse img {
    margin: 0;
}

.myFooter {
    color: #f5f5f5;
    text-align: center;
    margin-top: 25px;
}

.myFooter .contact {
    border: 2px solid #f5f5f5;
    border-radius: 20px;
    padding: 15px;
}

.myFooter .contact h2 {
    font-size: 16px;
}

.myFooter p {
    margin-top: 1rem;
}

/* ====================rwd=================== */
/* 桌機 */
@media (min-width: 1440px) {
    .framer-PutqM .hidden-72rtr7 {
        display: none !important
    }
}

/* 手機 */
@media (max-width: 809px) {
    .framer-PutqM .hidden-1dzf8in {
        display: none !important
    }

    .framer-body-augiA20Il-framer-PutqM {
        background: rgb(0, 0, 0)
    }

    .framer-PutqM.framer-72rtr7 {
        flex-direction: column;
        padding: 20px;
        width: 390px
    }

    .framer-PutqM .framer-1hh3etv {
        height: min-content;
        left: unset;
        position: relative;
        top: unset;
        width: 100%
    }

    .framer-PutqM .framer-twwerd {
        flex: none;
        height: 364px
    }

    .framer-PutqM .framer-1bxz45w,
    .framer-PutqM .framer-1yz5dx9 {
        width: 320px
    }

    .framer-PutqM .framer-qytm36 {
        flex: none;
        gap: 24px;
        width: 100%
    }

    .framer-PutqM .framer-1asauhm {
        height: 3843px;
        max-width: 100%;
        width: 350px
    }

    .framer-PutqM .framer-1iz0czz,
    .framer-PutqM .framer-1br00wp {
        gap: 20px;
        height: min-content;
        justify-content: center
    }

    .framer-PutqM .framer-buzj8q,
    .framer-PutqM .framer-1v0k8li,
    .framer-PutqM .framer-nw4j1z,
    .framer-PutqM .framer-33vpbs {
        flex-direction: column;
        height: min-content
    }

    .framer-PutqM .framer-bwwc1s {
        flex: none;
        height: min-content;
        width: 100%
    }

    .framer-PutqM .framer-jiikfa,
    .framer-PutqM .framer-1wdglhp {
        width: 100%
    }

    .framer-PutqM .framer-2oo4mh {
        flex: none;
        gap: 15px;
        height: min-content;
        justify-content: flex-start
    }

    .framer-PutqM .framer-1pwau2y {
        height: min-content
    }

    .framer-PutqM .framer-6xae3l {
        height: var(--framer-aspect-ratio-supported, 35px)
    }

    .framer-PutqM .framer-j0d290 {
        flex-direction: row;
        height: 77px;
        width: 100%
    }

    .framer-PutqM .framer-1emminw-container {
        align-self: unset;
        flex: 1 0 0px;
        height: 100%;
        width: 1px
    }

    .framer-PutqM .framer-1eu6a8s {
        height: 100%;
        width: 1px
    }

    .framer-PutqM .framer-rrszau {
        height: min-content;
        width: 100%
    }

    .framer-PutqM .framer-utty8s {
        flex: none;
        gap: 0px;
        height: min-content;
        justify-content: center
    }

    .framer-PutqM .framer-diyjdm-container {
        flex: none;
        width: 100%
    }

    .framer-PutqM .framer-dakig6,
    .framer-PutqM .framer-1ko6h2q {
        flex: none;
        height: 230px;
        width: 100%
    }

    .framer-PutqM .framer-167wb0f {
        bottom: -131px;
        height: var(--framer-aspect-ratio-supported, 302px);
        right: -299px;
        width: 385px
    }

    .framer-PutqM .framer-jfh8gf {
        height: 48px;
        width: 163px
    }

    .framer-PutqM .framer-wt06qw,
    .framer-PutqM .framer-4qcohz,
    .framer-PutqM .framer-1vdgt9p {
        height: 230px;
        width: 100%
    }

    .framer-PutqM .framer-dba4xg {
        z-index: 1
    }

    .framer-PutqM .framer-1ojq4eh {
        bottom: unset;
        height: var(--framer-aspect-ratio-supported, 278px);
        left: -20px;
        right: -133px;
        top: -24px;
        z-index: 0
    }

    .framer-PutqM .framer-1nzuvdy {
        left: 48px;
        top: 41px;
        transform: unset
    }

    .framer-PutqM .framer-1nna23 {
        bottom: -6px;
        right: -93px
    }

    .framer-PutqM .framer-wic26a {
        height: 145px;
        left: 0;
        order: 2;
        top: 30px;
        width: 192px
    }

    .framer-PutqM .framer-go9u86 {
        height: 145px;
        left: calc(50.00000000000002% - 192px / 2);
        top: calc(49.655172413793125% - 145px / 2);
        width: 192px
    }

    .framer-PutqM .framer-ovuyot {
        align-self: unset;
        order: 0;
        width: 100%
    }

    .framer-PutqM .framer-nvsmc9 {
        order: 1;
        width: 100%
    }

    .framer-PutqM .framer-1ddz9ma {
        gap: 0px;
        height: 90vh;
        justify-content: flex-start
    }

    .framer-PutqM .framer-t96gb {
        gap: 20px;
        height: 70%;
        justify-content: center
    }

    .framer-PutqM .framer-yygu1u {
        flex: 1 0 0px;
        flex-direction: column;
        height: min-content;
        width: 1px
    }



    @supports (background: -webkit-named-image(i)) and (not (scale:1)) {

        .framer-PutqM.framer-72rtr7,
        .framer-PutqM .framer-qytm36,
        .framer-PutqM .framer-1iz0czz,
        .framer-PutqM .framer-buzj8q,
        .framer-PutqM .framer-2oo4mh,
        .framer-PutqM .framer-j0d290,
        .framer-PutqM .framer-1v0k8li,
        .framer-PutqM .framer-utty8s,
        .framer-PutqM .framer-1br00wp,
        .framer-PutqM .framer-nw4j1z,
        .framer-PutqM .framer-33vpbs,
        .framer-PutqM .framer-1ddz9ma,
        .framer-PutqM .framer-t96gb,
        .framer-PutqM .framer-yygu1u {
            gap: 0px
        }

        .framer-PutqM.framer-72rtr7>* {
            margin: 12.5px 0
        }

        .framer-PutqM.framer-72rtr7>:first-child,
        .framer-PutqM .framer-1iz0czz>:first-child,
        .framer-PutqM .framer-buzj8q>:first-child,
        .framer-PutqM .framer-2oo4mh>:first-child,
        .framer-PutqM .framer-1v0k8li>:first-child,
        .framer-PutqM .framer-utty8s>:first-child,
        .framer-PutqM .framer-1br00wp>:first-child,
        .framer-PutqM .framer-nw4j1z>:first-child,
        .framer-PutqM .framer-33vpbs>:first-child,
        .framer-PutqM .framer-1ddz9ma>:first-child,
        .framer-PutqM .framer-t96gb>:first-child,
        .framer-PutqM .framer-yygu1u>:first-child {
            margin-top: 0
        }

        .framer-PutqM.framer-72rtr7>:last-child,
        .framer-PutqM .framer-1iz0czz>:last-child,
        .framer-PutqM .framer-buzj8q>:last-child,
        .framer-PutqM .framer-2oo4mh>:last-child,
        .framer-PutqM .framer-1v0k8li>:last-child,
        .framer-PutqM .framer-utty8s>:last-child,
        .framer-PutqM .framer-1br00wp>:last-child,
        .framer-PutqM .framer-nw4j1z>:last-child,
        .framer-PutqM .framer-33vpbs>:last-child,
        .framer-PutqM .framer-1ddz9ma>:last-child,
        .framer-PutqM .framer-t96gb>:last-child,
        .framer-PutqM .framer-yygu1u>:last-child {
            margin-bottom: 0
        }

        .framer-PutqM .framer-qytm36>* {
            margin: 0 12px
        }

        .framer-PutqM .framer-qytm36>:first-child,
        .framer-PutqM .framer-j0d290>:first-child {
            margin-left: 0
        }

        .framer-PutqM .framer-qytm36>:last-child,
        .framer-PutqM .framer-j0d290>:last-child {
            margin-right: 0
        }

        .framer-PutqM .framer-1iz0czz>*,
        .framer-PutqM .framer-1br00wp>*,
        .framer-PutqM .framer-t96gb>* {
            margin: 10px 0
        }

        .framer-PutqM .framer-buzj8q>*,
        .framer-PutqM .framer-1v0k8li>*,
        .framer-PutqM .framer-nw4j1z>*,
        .framer-PutqM .framer-33vpbs>* {
            margin: 12px 0
        }

        .framer-PutqM .framer-2oo4mh>* {
            margin: 7.5px 0
        }

        .framer-PutqM .framer-j0d290>* {
            margin: 0 10px
        }

        .framer-PutqM .framer-utty8s>*,
        .framer-PutqM .framer-1ddz9ma>* {
            margin: 0
        }

        .framer-PutqM .framer-yygu1u>* {
            margin: 6px 0
        }
    }

    .framer-o3eoja {
        display: none;
    }
    .framer-PutqM .framer-72rtr7{
        display: none;
    }
}

/* 平板 */
@media (min-width: 810px) and (max-width: 1027px) {
    .framer-PutqM .hidden-1ffry6m {
        display: none !important
    }

    .framer-body-augiA20Il-framer-PutqM {
        background: rgb(0, 0, 0)
    }

    .framer-PutqM.framer-72rtr7 {
        flex-direction: column;
        width: 810px
    }

    .framer-PutqM .framer-1hh3etv {
        gap: 40px;
        height: min-content;
        left: unset;
        position: relative;
        top: unset;
        width: 100%
    }

    .framer-PutqM .framer-twwerd {
        flex: none;
        height: 342px;
        padding: 20px
    }

    .framer-PutqM .framer-p561fo,
    .framer-PutqM .framer-zxmfdq,
    .framer-PutqM .framer-nvsmc9 {
        width: 100%
    }

    .framer-PutqM .framer-qytm36 {
        flex: none;
        flex-direction: column;
        gap: 24px;
        width: 100%
    }

    .framer-PutqM .framer-1asauhm {
        height: 3298px;
        max-width: 100%;
        width: 100%
    }

    .framer-PutqM .framer-1iz0czz {
        gap: 20px;
        height: min-content;
        justify-content: flex-start
    }

    .framer-PutqM .framer-buzj8q {
        height: 280px
    }

    .framer-PutqM .framer-bwwc1s {
        flex: none;
        width: 356px
    }

    .framer-PutqM .framer-1pwau2y,
    .framer-PutqM .framer-nw4j1z,
    .framer-PutqM .framer-1ddz9ma {
        height: min-content
    }

    .framer-PutqM .framer-j0d290,
    .framer-PutqM .framer-rrszau,
    .framer-PutqM .framer-1wdglhp {
        flex: 1 0 0px;
        width: 1px
    }

    .framer-PutqM .framer-1emminw-container,
    .framer-PutqM .framer-ovuyot {
        align-self: unset;
        width: 100%
    }

    .framer-PutqM .framer-1eu6a8s {
        padding: 16px;
        width: 100%
    }

    .framer-PutqM .framer-1v0k8li {
        height: 334px
    }

    .framer-PutqM .framer-1br00wp {
        gap: 20px;
        justify-content: flex-start
    }

    .framer-PutqM .framer-dakig6 {
        align-self: stretch;
        height: auto
    }

    .framer-PutqM .framer-167wb0f {
        bottom: -195px;
        height: var(--framer-aspect-ratio-supported, 157px);
        right: -417px
    }

    .framer-PutqM .framer-jfh8gf {
        height: 54px;
        width: 183px
    }

    .framer-PutqM .framer-wt06qw {
        flex: 1 0 0px;
        height: min-content;
        width: 1px
    }

    .framer-PutqM .framer-33vpbs {
        flex-direction: column;
        height: min-content
    }

    .framer-PutqM .framer-1ko6h2q {
        flex: none;
        height: 228px;
        width: 100%
    }

    .framer-PutqM .framer-j5en4v {
        z-index: 1
    }

    .framer-PutqM .framer-1ojq4eh {
        bottom: -125px;
        height: var(--framer-aspect-ratio-supported, 325px);
        left: -53px;
        right: -100px;
        z-index: 0
    }

    .framer-PutqM .framer-4qcohz {
        height: 228px;
        width: 100%
    }

    .framer-PutqM .framer-igai5g {
        white-space: pre-wrap;
        width: 100%;
        word-break: break-word;
        word-wrap: break-word
    }

    .framer-PutqM .framer-1nzuvdy {
        height: var(--framer-aspect-ratio-supported, 144px);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 233px
    }

    .framer-PutqM .framer-1nna23 {
        bottom: -30px;
        height: var(--framer-aspect-ratio-supported, 228px);
        right: -84px;
        width: 345px
    }

    .framer-PutqM .framer-1vdgt9p {
        height: 205px;
        width: 100%
    }

    .framer-PutqM .framer-wic26a {
        bottom: 0;
        height: 190px;
        left: 349px;
        top: unset;
        width: 252px
    }

    .framer-PutqM .framer-go9u86 {
        height: 179px;
        left: unset;
        right: 0;
        top: calc(52.63157894736844% - 179px / 2);
        width: 238px
    }

    .framer-PutqM .framer-t96gb {
        gap: 20px;
        height: min-content;
        justify-content: center
    }

    .framer-PutqM .framer-yygu1u {
        height: min-content;
        width: 100%
    }

    @supports (background: -webkit-named-image(i)) and (not (scale:1)) {

        .framer-PutqM.framer-72rtr7,
        .framer-PutqM .framer-1hh3etv,
        .framer-PutqM .framer-qytm36,
        .framer-PutqM .framer-1iz0czz,
        .framer-PutqM .framer-1br00wp,
        .framer-PutqM .framer-33vpbs,
        .framer-PutqM .framer-t96gb {
            gap: 0px
        }

        .framer-PutqM.framer-72rtr7>* {
            margin: 12.5px 0
        }

        .framer-PutqM.framer-72rtr7>:first-child,
        .framer-PutqM .framer-1hh3etv>:first-child,
        .framer-PutqM .framer-qytm36>:first-child,
        .framer-PutqM .framer-1iz0czz>:first-child,
        .framer-PutqM .framer-1br00wp>:first-child,
        .framer-PutqM .framer-33vpbs>:first-child,
        .framer-PutqM .framer-t96gb>:first-child {
            margin-top: 0
        }

        .framer-PutqM.framer-72rtr7>:last-child,
        .framer-PutqM .framer-1hh3etv>:last-child,
        .framer-PutqM .framer-qytm36>:last-child,
        .framer-PutqM .framer-1iz0czz>:last-child,
        .framer-PutqM .framer-1br00wp>:last-child,
        .framer-PutqM .framer-33vpbs>:last-child,
        .framer-PutqM .framer-t96gb>:last-child {
            margin-bottom: 0
        }

        .framer-PutqM .framer-1hh3etv>* {
            margin: 20px 0
        }

        .framer-PutqM .framer-qytm36>*,
        .framer-PutqM .framer-33vpbs>* {
            margin: 12px 0
        }

        .framer-PutqM .framer-1iz0czz>*,
        .framer-PutqM .framer-1br00wp>*,
        .framer-PutqM .framer-t96gb>* {
            margin: 10px 0
        }
    }
    
}

/* 筆電 */
@media (min-width: 1028px) and (max-width: 1439px) {
    .framer-PutqM .hidden-1p6xqbq {
        display: none !important
    }

    .framer-body-augiA20Il-framer-PutqM {
        background: rgb(0, 0, 0)
    }

    .framer-PutqM.framer-72rtr7 {
        padding: 30px;
        width: 1028px
    }

    .framer-PutqM .framer-1hh3etv {
        gap: unset;
        height: 90vh;
        justify-content: space-between;
        left: 30px;
        top: 30px;
        transform: unset;
        width: 26%
    }

    .framer-PutqM .framer-twwerd {
        gap: 1px
    }

    .framer-PutqM .framer-1bxz45w {
        padding: 0 5px
    }

    .framer-PutqM .framer-p561fo,
    .framer-PutqM .framer-jiikfa,
    .framer-PutqM .framer-1xfe01z {
        width: 100%
    }

    .framer-PutqM .framer-qytm36 {
        flex: none;
        gap: 25px;
        width: 100%
    }

    .framer-PutqM .framer-1asauhm {
        align-content: flex-end;
        align-items: flex-end;
        width: 70%
    }

    .framer-PutqM .framer-buzj8q {
        height: 30%
    }

    .framer-PutqM .framer-2oo4mh {
        flex: none;
        gap: 15px;
        height: 92px;
        justify-content: flex-start
    }

    .framer-PutqM .framer-1pwau2y {
        gap: 0px;
        height: min-content
    }

    .framer-PutqM .framer-6xae3l {
        height: var(--framer-aspect-ratio-supported, 35px)
    }

    .framer-PutqM .framer-j0d290 {
        gap: 10px
    }

    .framer-PutqM .framer-1v0k8li {
        height: 65%
    }

    .framer-PutqM .framer-utty8s {
        gap: 10px;
        justify-content: center
    }

    .framer-PutqM .framer-167wb0f {
        bottom: -390px;
        height: var(--framer-aspect-ratio-supported, 484px);
        left: -247px;
        opacity: 0;
        right: -54px;
        width: unset
    }

    .framer-PutqM .framer-jfh8gf {
        height: 46px;
        width: 156px
    }

    .framer-PutqM .framer-wt06qw {
        width: min-content
    }

    .framer-PutqM .framer-rcd2bl {
        width: 308px
    }

    .framer-PutqM .framer-tzd0xf {
        flex: 1 0 0px;
        height: 1px;
        justify-content: center;
        width: 308px
    }

    .framer-PutqM .framer-j5en4v,
    .framer-PutqM .framer-dba4xg,
    .framer-PutqM .framer-nvsmc9 {
        z-index: 2
    }

    .framer-PutqM .framer-1ojq4eh {
        height: var(--framer-aspect-ratio-supported, 354px);
        z-index: 0
    }

    .framer-PutqM .framer-wic26a {
        top: 42px
    }

    .framer-PutqM .framer-yygu1u {
        width: 70%
    }

    .framer-PutqM .framer-be78dd {
        bottom: -62px;
        left: -353px;
        top: -361px;
        width: var(--framer-aspect-ratio-supported, 1035px)
    }

    @supports (background: -webkit-named-image(i)) and (not (scale:1)) {

        .framer-PutqM .framer-1hh3etv,
        .framer-PutqM .framer-twwerd,
        .framer-PutqM .framer-qytm36,
        .framer-PutqM .framer-2oo4mh,
        .framer-PutqM .framer-1pwau2y,
        .framer-PutqM .framer-j0d290,
        .framer-PutqM .framer-utty8s {
            gap: 0px
        }

        .framer-PutqM .framer-1hh3etv>*,
        .framer-PutqM .framer-1hh3etv>:first-child,
        .framer-PutqM .framer-1hh3etv>:last-child {
            margin: 0
        }

        .framer-PutqM .framer-twwerd>* {
            margin: .5px 0
        }

        .framer-PutqM .framer-twwerd>:first-child,
        .framer-PutqM .framer-2oo4mh>:first-child,
        .framer-PutqM .framer-j0d290>:first-child,
        .framer-PutqM .framer-utty8s>:first-child {
            margin-top: 0
        }

        .framer-PutqM .framer-twwerd>:last-child,
        .framer-PutqM .framer-2oo4mh>:last-child,
        .framer-PutqM .framer-j0d290>:last-child,
        .framer-PutqM .framer-utty8s>:last-child {
            margin-bottom: 0
        }

        .framer-PutqM .framer-qytm36>* {
            margin: 0 12.5px
        }

        .framer-PutqM .framer-qytm36>:first-child,
        .framer-PutqM .framer-1pwau2y>:first-child {
            margin-left: 0
        }

        .framer-PutqM .framer-qytm36>:last-child,
        .framer-PutqM .framer-1pwau2y>:last-child {
            margin-right: 0
        }

        .framer-PutqM .framer-2oo4mh>* {
            margin: 7.5px 0
        }

        .framer-PutqM .framer-1pwau2y>* {
            margin: 0
        }

        .framer-PutqM .framer-j0d290>*,
        .framer-PutqM .framer-utty8s>* {
            margin: 5px 0
        }
    }
   
}