/* 修改全域 scrollbar 寬度、圓角、背景顏色 */
/* 在全域設定 */
*::-webkit-scrollbar {
    width: 5px;
    /* scrollbar 寬度 */
    border-radius: 8px;
    /* 圓角 */
    background-color: transparent;
    /* 背景顏色 */
}

/* 修改全域 scrollbar 輪廓 */
*::-webkit-scrollbar-track {
    border-radius: 8px;
    /* 圓角 */
}

/* 修改全域 scrollbar 滾動條 */
*::-webkit-scrollbar-thumb {
    background-color: #888;
    /* 滾動條顏色 */
    border-radius: 5px;
    /* 圓角 */
}

/* 修改全域 scrollbar 上下按鈕 */
*::-webkit-scrollbar-button {
    background-color: transparent;
    /* 上下按鈕背景顏色 */
}