@import "../../assets/scssRule/all.scss";
@import "../../assets/scssRule/rule.scss";

// ===============================================


.intro,
.skills,
.work_tools,
.speak,
.experiences {
    width: 70%;
}

.skills,
.work_tools,
.speak {
    border-bottom: 1px solid black;
    padding: 2rem 0rem;
}

main {
    background-image: url('../../assets/images/bg-4.png');
    background-size: cover;
    @include center;
    gap: 3rem;
    padding-top: 10vh;
    padding: 10vh 2vh;

    h2 {
        @include h3_desktop;
        font-size: 1.8rem;
    }

    .intro {
        @include center;
        @include size(100%, 100vh);
        
        .wrap {
            @include row-center;
            @include size(70%, 70vh);

            .left {
                width: 40%;
                height: 100%;
                background-color: red;
            }

            .right {
                @include showFlex_column;
                width: 60%;
                gap: 1.2rem;
                padding: 1rem 2rem;

                p {
                    line-height: 2;
                    font-size: 1.2rem;
                }
            }
        }

    }

    .skills {
        @include showFlex_column;

        .skills_wrap {
            @include row-center;

            .skill {}
        }
    }

    .work_tools {
        @include showFlex_column;

        .tools_wrap {

            .tools {
                @include row-center;

            }
        }
    }

    .speak {
        @include showFlex_column;

        .speak_wrap {
            @include row-center;
            justify-content: space-between;

            .lauange {
                h4 {}
            }
        }

    }

    // experiences
    .experiences {
        @include showFlex_column;
        gap: 3rem;

        // work_wrap
        .work_wrap {
            @include showFlex_column;
            gap: 3rem;

            .work {

                .A {
                    img {}

                    .line {}
                }

                .b {
                    .top {
                        .title {
                            @include row-center;
                            justify-content: start;

                            h3 {}

                            h4 {}
                        }

                        .day {}
                    }

                    .bottom {
                        font-size: 24px;
                    }
                }

                .c {
                    img {}
                }
            }
        }

        // 2023_wrap
        .lastYear {
            @include showFlex_column;
            gap: 3rem;

            .korea,
            .frontEnd {
                figure {}

                .text {
                    h4 {}
                }

                .content {}
            }
        }



    }
}

// =================RWD==============================
@media screen and (max-width: 1024px) {
    h2 {}

    main {
        .intro {
            .left {}

            .right {
                p {}
            }
        }

        .skills {
            .skills_wrap {
                .skill {}
            }
        }

        .work_tools {
            .tools_wrap {
                .tools {}
            }
        }

        .speak {
            .speak_wrap {
                .lauange {
                    h4 {}
                }
            }
        }

        // experiences
        .experiences {

            // work_wrap
            .work_wrap {
                .work {
                    .A {
                        img {}

                        .line {}
                    }

                    .b {
                        .top {
                            .title {
                                h3 {}

                                h4 {}
                            }

                            .day {}
                        }

                        .bottom {
                            font-size: 24px;
                        }
                    }

                    .c {
                        img {}
                    }
                }
            }

            // 2024_wrap
            .lastYear {

                .korea,
                .frontEnd {
                    figure {}

                    .text {
                        h4 {}
                    }

                    .content {}
                }
            }
        }
    }
}